.song-item {
    display: flex;
    margin: 2% auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.song-item.card {
    width: 50%;
    text-align: center;
}

.song-name {
    text-align: center;
    width: 100%;
}

.song-item-status {
    font-weight: bold;
    text-align: center;
}

.song-item-status.is-stop {
    color: red;
}

.song-item-status.is-play {
    color: blue;
}

.song-item-status.is-pause {
    color: grey;
}

.song-name.is-play {
    border-bottom: 1px solid blue;
}
